/*Table Content
==========================
    # General
        - Fonts
        - scrollbar
    # Links
    # Headings
    # Lists
        - socail-list
        - navbar
        - socail-foot
    # Images
    # Section Setting
        - head-section
    # top-nav
    # nav
    # footer
    # owl-carousel
    # about-us
    # service
    # our-works
    # testimonials
    # our-clients
    # contact-us
    # form-group
    # Scroll-top
    # Preload
*/


/* General
======================= */
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Changa');

body{
    font-size: 15px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Changa', sans-serif;

}
.fontf{
    font-family: 'Changa', sans-serif !important;
}
.box-shadow{
    box-shadow: 0 0 30px 6px rgba(31,51,73,.1)!important;
    transition: all 0.3s ease-in-out
}
.box-shadow:hover{
    box-shadow: 0 0 10px 0px rgba(31,51,73,.1)!important;
}
.no-padding{
    padding: 0
}
/* scrollbar */
::-webkit-scrollbar{ width: 10px; background: #231F20;}
::-webkit-scrollbar-track {background-color: #231F20;}
::-webkit-scrollbar-thumb {background: #7e5221 ; border-radius: 25px}
::-webkit-scrollbar-thumb:hover {background: #7e5221 ; border-radius: 25px}


/* Links
==========================*/
a{
    
}
a, a:hover, a:focus{
    text-decoration: none;
    color: inherit
}
/* Headings 
========================== */
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0;

}
.panel-default > .panel-heading + .panel-collapse > .panel-body,
p{
    margin: 0;
    line-height: 1.6 !important
}
/*Lists
==========================*/

ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
/*  socail-list */
.socail-list{
    
}
.socail-list li{
    display: inline-block;
   
}
.socail-list li a {
    padding: 10px;
    display: block
}
.socail-list li a:hover {
    color: #7e5221
} 
.socail-list li a i {
    
}
/* navbar */
.navbar{
    border: none;
    margin: 0
}
.navbar li{
    display: inline-block
}
.navbar li a{
    padding: 13px 18px;
    display: block;
    position: relative;
}
.navbar li a:hover,
.navbar li a.active{
    color:#7e5221;
    font-weight: bold;
    
}
.navbar li a:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 1px;
    background: #000;
    transition: all 0.3s ease-in-out
}
.navbar li a:hover:after,
.navbar li a.active:after{
    width: 25px;
}

.navbar li a:before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 1px;
    background: #000;
    transition: all 0.3s ease-in-out
}
.navbar li a:hover:before,
.navbar li a.active:before{
    width: 10px;
}
.navbar li a i{
    
}

/*  socail-foot */
.socail-foot{
    margin-bottom: 30px
}
.socail-foot li{
    display: inline-block;
   
}
.socail-foot li a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #555;
    border-radius: 2px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
.socail-foot li a.twitter:hover{
    background:#55acee;
}
.socail-foot li a.instagram:hover{
    background:#e4405f;
}
.socail-foot li a.whatsapp:hover{
    background:#25D366;
}
.socail-foot li a.facebook:hover{
    background:#3b5999;
}
.socail-foot li a.snapchat:hover{
    background:#FFFC00;
}

.socail-foot li a i {
    
}

/* Images
=========================== */
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/* Section Setting
============================ */ 

.section-lg{
    padding: 50px 0;
}
/* head-section */
.head-section{
    text-align: center
}
.head-section h2{
    margin-bottom: 25px;
    position: relative;
    color: #7e5221
}
.head-section h2:after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 2px;
    background: #000;
    transition: all 0.3s ease-in-out
}
.head-section h2:before{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 2px;
    background: #000;
    transition: all 0.3s ease-in-out
}
.head-section:hover h2:before{
    width: 40px
}
.head-section:hover h2:after{
    width: 30px
}
.head-section p{
    width: 60%;
    margin: 5px auto 50px
}
/* top-nav
===================== */
.top-nav{
    background: #231F20;
    color: #FFF
}
.top-nav .contact-nav {
    font-size: 12px;
    margin-top: 3px
}
.top-nav .contact-nav span{
    display: inline-block;
    padding: 10px
}
.top-nav .contact-nav span i {
    margin-left: 15px
}
/* nav
======================= */
nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    padding: 20px 0;
    background: #fff;
    z-index: 99
}
.brand{
    color: #7e5221;
    display: block
}
.brand img{
    width: 60px;
}
/* footer
======================= */
footer {
    background: #231F20;
    color: #FFF;
    padding: 50px 0
}
footer .brand img{
    width: 100%
}
footer .brand img,
footer p
{
    margin: 0px auto 
}
footer a.brand h3 {
    font-size: 40px
}
footer p{
    padding: 18px 0
}
footer p a{
    text-decoration: underline;
}
/* slider-img
================ */
.slider-img{
    position: relative;
    background: url(../images/slider.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    background-position: center center;
    
}
.slider-img > img {
    
}
.slider-img .slider-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.slider-img .slider-content img {
    margin: auto;
    width: 50%
}
.slider-img .slider-content img:first-child{
    
}
.slider-img .slider-content img:last-child{
    
}
/* owl-carousel
======================== */
.owl-carousel{
    
}
.owl-carousel .item .owl-item-slide{
    height: 70vh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    min-height: 500px
}
.owl-carousel .item .owl-item-slide .slider_content {
    display: table;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: relative;
    color: #ffffff;
}
.owl-carousel .item .owl-item-slide .slider_content .slider-content-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}
.home-slider .slider_content .slider-content-inner h2{
    margin-bottom: 20px;
    transition: all 0.4s 300ms ease-in;
    transform: translateY(50px);
    opacity: 0
}
.home-slider .slider_content .slider-content-inner p{
    width: 30%;
    margin: auto;
    font-size: 18px;
    transition: all 0.4s 600ms ease-in;
    transform: translateY(50px);
    opacity: 0
}
.owl-theme .owl-nav{
    margin: 0
}
.home-slider .owl-item.active .slider-content-inner h2,
.home-slider .owl-item.active .slider_content .slider-content-inner p{
    transform: translateY(0);
    opacity: 1
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    top: 50%;
    font-size: 28px;
    color: #FFF;
    background: #0009;
    transform: translateY(-50%);
    height: 35px;
    line-height: 35px;
    width: 35px;
    outline: none
}
.owl-carousel .owl-nav button.owl-prev{
    right: 20px
}
.owl-carousel .owl-nav button.owl-next{
    left: 20px
}
/* about-us
========================= */
.about-us{
    background: #f7f7f7;
}
.about-us .about-content{
    
}
.about-us .about-content h3 {
    font-size: 35px;
    color: #7e5221;
    margin-bottom: 25px
}
.about-us .about-content p {
    line-height: 2 !important
}
.about-us .about-img {
    margin-top: 48px
}
.about-us .about-img img {
    width: 100%
}
.panel-default{
    border-color: #7e5221;
}
.panel-default > .panel-heading {
    color: #fff;
    background-color: #7e5221;
    border-color: transparent;
    border-radius: 0;
    padding: 0
}
.panel-default > .panel-heading a{
    display: block;
    padding: 10px 15px;
}
.panel-group .panel{
    border-radius: 0
}
.about-widget {
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    z-index: 0;
    
}
.about-widget img {
    width: 230px;
    height: 230px;
    border-radius: 25px;
    margin: 30px auto;
    border: 2px solid transparent;
    padding: 10px;
    transition: all 0.3s ease-in-out
}
.about-widget:hover img{
    border : 5px solid #899d3d
}
.about-widget i{
    font-size: 35px;
    color: #d1d1d1;
    transition: all 0.3s ease-in-out
}
.about-widget p{
    
}
.about-widget h4{
    margin: 20px 0;
    color: #7e5221
}
.about-widget:hover i{
    transform: rotateY(180deg);
    color: #888
}
/* branch
=====================*/
.branch{
    
}
.branch img {
    margin: 20px auto;
    border-radius: 25px;
    padding: 10px;
    border:5px solid #7e5221;
    transition: all 0.3s ease-in-out
}
.branch:hover img {
    transform: scale(1.02);
    border:5px solid transparent;
}
.branch p {
    margin: 10px auto;
    font-size: 20px;
    text-align: center;
    width: 90%;
    
}
/* contact-us
====================*/
.contact-us{
    padding-top: 50px;
    background: #f7f7f7
}
.contact-us iframe,
.service iframe{
    width: 100%;
    height: 500px
}
.service img{
    transition: all 0.3s ease-in-out
}
.service img:hover{
   filter: drop-shadow(8px 8px 10px gray)
}
.contact-us .head-section{
    text-align: right;
    margin-right: 25px;
    margin-bottom: 50px
}
.contact-us form{
    padding: 30px 30px 20px
}
.contact-us .head-section h2:after,
.contact-us .head-section h2:before{
    right: 0;
    left: auto;
    transform: translate(0)
}
.get-in-touch{
    background: #f7f7f7;
    padding: 20px
}
.contact-widget{
    margin-bottom: 20px;
    overflow: hidden
}
.contact-widget .icon{
    float: right;
    width: 100px;
    text-align: center
    
}
.contact-widget .icon i{
    font-size: 24px;
    color: #7e5221;
}
.contact-widget .content{
    float: right;
    width: calc(100% - 100px)
}
.contact-widget .content p:first-child{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px
}
.contact-widget .content p{
    
}
.contact-widget .socail{
    margin-top: 25px;
    margin-right: 35px;
    text-align: center
}
.contact-widget .socail li {
    display: inline-block;
    font-size: 23px;
    color: #7e5221;
    margin-left: 20px;
}
/* form-group
===================== */
.form-group{
    position: relative;
    margin-bottom: 25px
}
.form-group label{
    width: 35px;
    background: #7e5221;
    color: #FFF;
    text-align: center;
    line-height:35px;
    font-size: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-bottom: 0
}
.form-group textarea{
    padding: 20px !important;
    height: 100px !important;
    resize: none
}
.form-group button{
    padding: 7px 25px;
    border:none;
    background: #7e5221;
    color: #FFF
}

.form-group .form-control{
    background: #FFF;
    border:none;
    box-shadow: none;
    outline: none;
    height: 35px;
    padding-right: 55px
}
/*

section{
    position: sticky;
    top: 80px;
    left: 0;
    height: 100vh
}
footer{z-index: 5;position: relative}


*/
/* Scroll-top
===================*/
#scroll{
    background:#7e5221;
    color: #ffffff;
    font-size: 20px;
    right: 20px;
    position: fixed;
    z-index: 9999;
    text-align: center;
    bottom: 20px;
    cursor: pointer;
    display: none;
    padding: 10px;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent
}
#scroll:hover{
    color: #7e5221;
    background: #FFF;
    border-color: #7e5221
}
.download{
    position: fixed;
    top: 27%;
    left: 0;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background: #FFF;
    border: 1px solid #7e5221;
    z-index: 9999;
    color: #7e5221;
    cursor: pointer
}
/* Preload 
=========================*/
.load {
    background:#231F20;
    color:#FFF;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:99999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column
}
 
    
  